(
  name: "Starter Woods",
  mob_spawn_rate: 0.0,
  description: "You stand in front of a crushed goblin archers pertch. There are slash marks that appear to have been made by a sword, and there's blood on the ground.",
  examine: Some("Looking at the ground closely you can see more blood, some goblin foot prints, and a goblin club."),
  connections: {
    East: "starter-woods/01.zone.ron",
  },
  items: [
    "items/goblin-club.item.ron"
  ]
)
